.accordion {
	$this: &;

	&__button {
		display: inline-flex;
		cursor: pointer;
		position: relative;
		font-size: microbe-rem(15);
		line-height: microbe-em(18, 15);
		color: $color-accent-darker;
		padding-bottom: 8px;
		border-bottom: 1px dashed rgba($color-accent-darker, 0.5);

		@include microbe-media($screen-vw) {
			font-size: vw(15);
		}

		&:before {
			content: attr(data-show-more-open);
		}

		&.is-active {
			&:before {
				content: attr(data-show-more-close);
			}
		}
	}

	&--fullwidth {
		width: 100%;
	}

	&--theme-faq {
		border-bottom: 1px solid #42505D;

		&:not(:last-child) {
			margin-bottom: microbe-rem(15);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(21);
			}
		}

		@include microbe-media($screen-vw) {
			margin-left: vw(80);
			margin-right: vw(43);
		}

		#{$this}__head {
			display: flex;
			align-items: safe center;
			justify-content: space-between;
			padding: microbe-rem(20) 0;

			@include microbe-media($screen-vw) {
				padding: vw(30) 0;
			}

			@media (hover: hover) {
				cursor: pointer;

				&:not(.is-active) {
					&:hover {
						#{$this}__icon {
							fill: $color-accent;
						}
					}
				}
			}

			&.is-active {
				#{$this}__icon {
					transform: rotate(-45deg);
					fill: $color-accent-darker;
				}
			}
		}

		#{$this}__title {
			color: #323234;
			font-size: microbe-rem(16);
			font-weight: $font-weight-medium;
			line-height: 1.4em;

			@include microbe-media($breakpoint-md) {
				font-size: microbe-rem(18);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(20);
			}
		}

		#{$this}__icon {
			width: microbe-rem(20);
			height: microbe-rem(20);
			flex-shrink: 0;
			margin-left: microbe-rem(20);
			fill: #42505D;
			transition: transform .2s ease, fill .2s ease;

			@include microbe-media($screen-vw) {
				width: vw(26);
				height: vw(26);
				margin-left: vw(25);
			}
		}

		#{$this}__body {
			padding: microbe-rem(20) 0;
			font-size: microbe-rem(16);
			line-height: 1.4em;
			color: $color-text-4;
			border-top: 1px dashed rgba($color-grey-4, .2);

			@include microbe-media($screen-vw) {
				padding: vw(30) 0;
				font-size: vw(18);
			}
		}
	}
}
