.awards-slider {
	$this: &;

	position: relative;
	padding: 0 microbe-rem(40);

	@include microbe-media($breakpoint-df) {
		padding: 0 microbe-rem(65);
	}

	@include microbe-media($screen-vw) {
		padding: 0;
		max-width: vw(1280);
		margin: 0 auto;
	}

	&__arrows {
		position: absolute;
		top: microbe-rem(65);
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		pointer-events: none;

		@include microbe-media($breakpoint-df) {
			top: microbe-rem(55);
		}

		@include microbe-media($screen-vw) {
			top: vw(55);
			left: vw(-100);
			right: vw(-100);
		}

		.carousel-arrow {
			border-color: $color-accent;

			svg {
				fill: $color-accent;
			}

			&--prev {
				margin-right: auto;

				svg {
					margin-right: microbe-rem(2);

					@include microbe-media($screen-vw) {
						margin-right: vw(2);
					}
				}
			}

			&--next {
				margin-left: auto;

				svg {
					margin-left: microbe-rem(2);

					@include microbe-media($screen-vw) {
						margin-left: vw(2);
					}
				}
			}

			@media (hover: hover) {
				&:hover {
					background-color: $color-accent;
					border-color: $color-accent;

					svg {
						fill: $color-white;
					}
				}

				&:focus {
					background-color: $color-accent-darker;
					border-color: $color-accent-darker;

					svg {
						fill: $color-white;
					}
				}
			}
		}
	}

	&__list {
		margin-right: 3px;

		&:not(.slick-initialized) {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			overflow: hidden;

			> div {
				width: 50%;
				flex-shrink: 0;
				padding: 0 microbe-rem(10);

				@include microbe-media($screen-vw) {
					padding: 0 vw(30);
					width: 20%;
				}
			}
		}
	}

	.slick-slide {
		margin: 0 microbe-rem(10);

		@include microbe-media($screen-vw) {
			margin: 0 vw(30);
		}

		&.slick-active {
			position: relative;

			&:not(:last-child) {
				&::before {
					position: absolute;
					content: '';
					left: calc(100% + #{microbe-rem(10)});
					top: microbe-rem(30);
					height: microbe-rem(90);
					width: 1px;
					border-right: 1px dashed rgba($color-grey-4, 0.2);

					@include microbe-media($screen-vw) {
						left: calc(100% + #{vw(29)});
						top: vw(30);
						height: vw(90);
					}
				}
			}
		}
	}
}
