.branches {
	$this: &;

	&__title {
		font-size: microbe-rem(36);
		line-height: microbe-em(60, 48);
		color: $color-white;
		font-weight: $font-weight-medium;
		text-align: center;
		margin: microbe-rem(30) 0;

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(42);
			text-align: left;
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}
	}

	&__description {
		font-size: microbe-rem(16);
		line-height: microbe-em(30, 20);
		color: $color-white;
		max-width: microbe-rem(415);
		text-align: center;

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(18);
			text-align: left;
		}

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			max-width: vw(415);
		}
	}

	&__cities {
		display: flex;
		flex-wrap: wrap;
		padding: microbe-rem(40) 0 0;
		justify-content: center;
		margin-bottom: microbe-rem(60);

		@include microbe-media($breakpoint-df) {
			justify-content: flex-start;
			margin-bottom: 0;
		}

		@include microbe-media($screen-vw) {
			padding: microbe-rem(62) 0 0;
		}
	}

	&__city {
		flex-shrink: 0;
		margin-bottom: microbe-rem(15);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(15);
		}

		&:not(:last-child) {
			margin-right: microbe-rem(13);

			@include microbe-media($screen-vw) {
				margin-right: vw(13);
			}
		}
	}

	&__content {
		padding-top: microbe-rem(10);
		display: flex;
		flex-direction: column;
		align-items: safe center;

		@include microbe-media($breakpoint-df) {
			align-items: safe flex-start;
		}

		@include microbe-media($screen-vw) {
			padding-top: vw(10);
		}
	}
}

.branches-map {
	$this: &;

	position: relative;
	padding-bottom: 68.88%;
	margin-top: microbe-rem(35);

	@include microbe-media($breakpoint-df) {
		margin-left: microbe-rem(100);
		padding-bottom: 60%;
		margin-top: 0;
	}

	@include microbe-media($screen-vw) {
		margin-left: vw(100);
	}

	&__image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__marker {
		position: absolute;
		border-radius: 50%;
		transition: transform .2s ease;

		&.is-active {
			z-index: 2;
		}

		@media (hover: hover) {
			&:not(.is-active) {
				&:hover {
					cursor: pointer;
					transform: scale(1.1);
				}
			}
		}

		[data-placement="bottom"] {
			.tippy-content {
				@include microbe-media($breakpoint-md, max) {
					transform: translateY(-25%);
				}
			}
		}

		.tippy-content {
			padding: 0 !important; // sass-lint:disable-line no-important
		}

		&--1 {
			width: 6.75%;
			height: 10.1%;
			left: 53.83%;
			top: 65.4%;
			background-color: #F9593A;
		}

		&--2 {
			width: 2.86%;
			height: 4.27%;
			left: 48.76%;
			top: 25.71%;
			background-color: #51B9BC;
		}

		&--3 {
			width: 6.49%;
			height: 9.71%;
			left: 19.74%;
			top: 38.91%;
			background-color: #FFC80A;
		}

		&--4 {
			width: 4.55%;
			height: 6.8%;
			left: 69.34%;
			top: 54.44%;
			background-color: #99BA00;
		}

		&--5 {
			width: 11.17%;
			height: 16.7%;
			left: 75.57%;
			top: 32.7%;
			background-color: #F9593A;
		}
	}
}
