.buy-card {
	$this: &;

	background-color: $color-bg-grey;
	border-radius: microbe-rem(10);
	padding: microbe-rem(20) microbe-rem(25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	@include microbe-media($breakpoint-sm) {
		padding: microbe-rem(40) microbe-rem(60);
	}

	@include microbe-media($screen-vw) {
		border-radius: vw(10);
		padding: vw(65) vw(117) vw(80) vw(84);
	}

	&__top {
		display: flex;
		align-items: safe center;
		margin-bottom: microbe-rem(27);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(27);
		}
	}

	&__icon {
		width: microbe-rem(54);
		height: microbe-rem(54);
		border-radius: 50%;
		background-color: $color-white;
		display: flex;
		align-items: safe center;
		justify-content: center;
		flex-shrink: 0;
		margin-right: microbe-rem(15);

		svg {
			fill: $color-accent-darker;
			width: microbe-rem(35);
			height: microbe-rem(24);

			@include microbe-media($screen-vw) {
				width: vw(49);
				height: vw(36);
			}
		}

		@include microbe-media($screen-vw) {
			width: vw(84);
			height: vw(84);
			margin-right: vw(30);
		}
	}

	&__title {
		font-size: microbe-rem(18);
		line-height: 1.4em;
		font-weight: $font-weight-medium;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(22);
		}
	}

	&__text {
		padding-left: microbe-rem(10);
		font-size: microbe-rem(15);
		line-height: 1.75em;
		margin-bottom: microbe-rem(30);

		@include microbe-media($breakpoint-md) {
			padding-left: microbe-rem(12);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(15);
			padding-left: vw(12);
			margin-bottom: vw(45);
		}
	}

	.button {
		padding: microbe-rem(15) microbe-rem(22);
		min-width: microbe-rem(198);

		@include microbe-media($screen-vw) {
			padding: vw(14) vw(22);
			min-width: vw(198);
		}
	}
}
