.chronology-slider {
	$this: &;

	position: relative;

	&__slider {
		position: relative;

		&--years {
			pointer-events: none;

			@include microbe-media($screen-vw, max) {
				padding: 0 microbe-rem(40);
			}

			.slick-slide {
				margin-right: microbe-rem(15);

				@include microbe-media($breakpoint-md) {
					margin-right: microbe-rem(30);
				}

				@include microbe-media($screen-vw) {
					margin-right: vw(65);
				}

				& > div {
					height: 100%;

					> div {
						height: 100%;

						> div {
							height: 100%;
						}
					}
				}
			}

			.slick-center {
				#{$this}__year {
					font-size: microbe-rem(30);
					line-height: microbe-em(29, 24);
					color: $color-accent;
					font-weight: $font-weight-medium;

					@include microbe-media($breakpoint-xxs) {
						font-size: microbe-rem(45);
					}

					@include microbe-media($breakpoint-md) {
						font-size: microbe-rem(70);
					}
				}
			}

			#{$this}__list {
				&:not(.slick-initialized) {
					display: flex;
					align-items: center;
					overflow: hidden;

					> div {
						margin-right: microbe-rem(30);

						@include microbe-media($screen-vw) {
							margin-right: vw(65);
						}
					}
				}
			}
		}

		&--info {
			#{$this}__list {
				&:not(.slick-initialized) {
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					overflow: hidden;

					> div {
						width: 100%;
						flex-shrink: 0;
					}
				}
			}
		}
	}

	&__years {
		display: flex;
		align-items: center;
	}

	&__year {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: microbe-rem(20);
		line-height: microbe-em(29, 24);
		color: $color-grey-2;
		transition: width 2000ms ease;

		@include microbe-media($screen-vw) {
			font-size: vw(24);
		}

		&.is-active {
			@include microbe-media($screen-vw) {
				font-weight: $font-weight-medium;
				font-size: vw(120);
				color: $color-accent;
			}
		}
	}

	&__arrows {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		pointer-events: none;

		@include microbe-media($breakpoint-xxs) {
			top: microbe-rem(8);
		}

		@include microbe-media($screen-vw) {
			top: vw(40);
			left: vw(-90);
			right: vw(-90);
		}

		.carousel-arrow {
			border-color: $color-accent;

			svg {
				fill: $color-accent;
			}

			&--prev {
				margin-right: auto;

				svg {
					margin-right: microbe-rem(2);

					@include microbe-media($screen-vw) {
						margin-right: vw(2);
					}
				}
			}

			&--next {
				margin-left: auto;

				svg {
					margin-left: microbe-rem(2);

					@include microbe-media($screen-vw) {
						margin-left: vw(2);
					}
				}
			}

			@media (hover: hover) {
				&:hover {
					background-color: $color-accent;
					border-color: $color-accent;

					svg {
						fill: $color-white;
					}
				}

				&:focus {
					background-color: $color-accent-darker;
					border-color: $color-accent-darker;

					svg {
						fill: $color-white;
					}
				}
			}
		}
	}

	&__content {
		box-sizing: content-box;
		padding: microbe-rem(55) microbe-rem(80) 0 0;

		@include microbe-media($screen-vw) {
			padding: vw(55) vw(80) 0 0;
		}
	}

	&__img {
		width: microbe-rem(150);
		height: microbe-rem(150);
		position: relative;
		border-radius: 50%;
		display: flex;
		flex-shrink: 0;
		order: 0;

		@include microbe-media($breakpoint-md) {
			order: 1;
		}

		@include microbe-media($screen-vw) {
			width: vw(236);
			height: vw(236);
		}

		&-decor {
			position: absolute;
			width: microbe-rem(75);
			height: microbe-rem(75);
			border-radius: 50%;
			background-color: $color-accent;
			top: 0;
			right: 0;
			transform: translate(35%, -40%);

			@include microbe-media($screen-vw) {
				width: vw(138);
				height: vw(138);
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-color: #C1A0B8;
				border-radius: 50%;
			}

			&::before {
				width: microbe-rem(20);
				height: microbe-rem(20);
				right: microbe-rem(-30);
				transform: translateY(-35%);
				top: 50%;

				@include microbe-media($screen-vw) {
					width: vw(34);
					height: vw(34);
					right: vw(-56);
				}
			}

			&::after {
				width: microbe-rem(15);
				height: microbe-rem(15);
				right: microbe-rem(-50);
				transform: translateY(-140%);
				top: 50%;

				@include microbe-media($screen-vw) {
					width: vw(27.5);
					height: vw(27.5);
					right: vw(-85);
				}
			}
		}

		img {
			z-index: 2;
			width: 100%;
			height: 100%;
			max-width: initial;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__img-decor {

	}

	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: auto;
		opacity: 1;
		transition: opacity 500ms ease;

		@include microbe-media($screen-vw) {
			&:not(.slick-active) {
				opacity: 0;
				transition: opacity 500ms ease;
			}
		}
	}
}
