.file-upload {
	$this: &;

	background-color: rgba($color-bg-lighter, .3);
	min-height: microbe-rem(50);
	border-radius: microbe-rem(25);
	display: flex;
	justify-content: center;
	align-items: safe center;
	border: 1px dashed $color-accent;
	cursor: pointer;
	transition: border-color .2s ease;

	@include microbe-media($screen-vw) {
		min-height: vw(50);
		border-radius: vw(25);
	}

	&.has-error {
		border-color: $color-red;

		@media (hover: hover) {
			&:hover {
				border: 1px solid $color-red;
			}
		}
	}

	@media (hover: hover) {
		&:hover {
			border: 1px solid $color-accent;
		}
	}

	&.has-file {
		#{$this}__link {
			display: none;
		}
	}

	&__link {
		font-size: microbe-rem(16);
		line-height: 1.1em;
		color: $color-text-4;
		display: flex;
		align-items: safe center;

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}

	&__error {
		@extend .file-upload-preview__name;
		color: $color-red !important; // sass-lint:disable-line no-important
	}

	&__icon {
		margin-right: microbe-rem(10);

		@include microbe-media($screen-vw) {
			margin-right: vw(10);
		}

		svg {
			fill: $color-accent;
			width: microbe-rem(13);
			height: microbe-rem(13);

			@include microbe-media($screen-vw) {
				width: vw(13);
				height: vw(13);
			}
		}
	}
}

.file-upload-preview {
	padding: microbe-rem(10);
	position: relative;

	@include microbe-media($screen-vw) {
		padding: vw(10);
	}

	&__name {
		font-size: microbe-rem(14);
		font-weight: $font-weight-medium;
		font-style: italic;
		width: 100%;
		text-align: center;
		color: $color-accent-darker;

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(16);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
		}
	}
}
