.footer-menu {
	$this: &;

	&__items {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	&__subitems {
		padding-left: 0;
		list-style-type: none;
		margin-top: microbe-rem(30);

		@include microbe-media($screen-vw) {
			margin-top: vw(30);
		}
	}

	&__subitem {
		margin-bottom: microbe-rem(1);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(1);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__sublink {
		text-decoration: none;
		display: block;
		font-size: microbe-rem(14);
		line-height: microbe-em(32, 14);
		color: $color-black;
		transition: color .2s ease;

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}

		&.is-active {
			color: $color-accent-darker;
			pointer-events: none;
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}
	}

	&__link {
		text-decoration: none;
		font-size: microbe-rem(20);
		line-height: microbe-em(26, 22);
		color: $color-black;
		transition: color .2s ease;
		font-weight: $font-weight-medium;

		@include microbe-media($screen-vw) {
			font-size: vw(20);
		}

		&.is-active {
			color: $color-accent-darker;
			pointer-events: none;
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}
	}

	&__item {
		padding-right: microbe-rem(20);
		flex: 1 1 0;

		@include microbe-media($screen-vw) {
			padding-right: vw(20);
		}

		&:last-child {
			padding-right: 0;
		}
	}
}
