.hotline {
	$this: &;

	display: flex;
	color: currentColor;

	&__title {
		letter-spacing: 0.07em;
		font-weight: $font-weight-medium;
		font-size: microbe-rem(11);
		line-height: 1.6em;
		margin: 0;
		text-transform: uppercase;
		color: inherit;

		@include microbe-media($screen-vw) {
			font-size: vw(11);
		}
	}

	&__link {
		outline: none;
		transition: color 0.2s ease;
		text-decoration: none;
		font-weight: $font-weight-semibold;
		color: inherit;
		font-size: microbe-rem(22);
		line-height: 1.1em;

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}

		@include microbe-media($screen-vw) {
			font-size: vw(22);
		}
	}

	&__icon {
		width: microbe-rem(15);
		height: microbe-rem(15);
		fill: $color-accent;
		margin-right: microbe-rem(10);
		margin-top: microbe-rem(3);

		@include microbe-media($screen-vw) {
			width: vw(15);
			height: vw(15);
			margin-right: vw(10);
			margin-top: vw(3);
		}
	}

	&--theme-menu {
		color: $color-text-4;
		padding-left: microbe-rem(15);

		@include microbe-media($screen-vw) {
			padding-left: microbe-rem(15);
		}

		#{$this}__link {
			font-size: microbe-rem(20);

			@include microbe-media($screen-vw) {
				font-size: vw(20);
			}
		}

		#{$this}__title {
			letter-spacing: 0.255em;
			font-size: microbe-rem(10);

			@include microbe-media($screen-vw) {
				font-size: vw(10);
			}
		}
	}
}
