.insurance {
	$this: &;

	background-color: $color-bg-grey;
	padding: microbe-rem(34) microbe-rem(30) microbe-rem(34) microbe-rem(80);

	@include microbe-media($screen-vw) {
		padding: vw(34) vw(30) vw(34) vw(80);
	}

	&__title {
		font-size: microbe-rem(16);
		line-height: 1.6em;
		color: #202020;
		font-weight: $font-weight-bold;
		position: relative;
		padding-bottom: microbe-rem(3);

		@include microbe-media($screen-vw) {
			padding-bottom: vw(3);
			font-size: vw(18);
		}

		&::before {
			position: absolute;
			content: '';
			width: microbe-rem(7);
			height: microbe-rem(7);
			border-radius: 50%;
			background-color: $color-accent;
			left: microbe-rem(-26);
			top: microbe-rem(10);

			@include microbe-media($screen-vw) {
				left: vw(-26);
				width: vw(7);
				height: vw(7);
				top: vw(10);
			}
		}
	}

	&__text {
		font-size: microbe-rem(14);
		line-height: 1.37em;
		color: rgba($color-black, .6);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}
}
