.main-contacts {
	$this: &;
	display: block !important; // sass-lint:disable-line no-important

	span {
		display: block;
	}

	&__title {
		color: $color-text-4;
		font-size: microbe-rem(16);
		line-height: 1.6em;
		margin-top: 0;
		margin-bottom: microbe-rem(13);
		font-weight: 400;

		@include microbe-media($screen-vw) {
			font-size: vw(16);
			margin-bottom: vw(13);
		}
	}

	&__address {
		font-weight: $font-weight-medium;
		font-size: microbe-rem(16);
		line-height: 1.6em;
		color: $color-text-4;
		margin-bottom: microbe-rem(3);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
			margin-bottom: vw(3);
		}
	}

	&__link {
		@extend .main-contacts__address;
		text-decoration: none;
		outline: none;
		display: flex;
		align-items: safe center;
		transition: color .2s ease;
		margin-left: microbe-rem(5);

		@include microbe-media($screen-vw) {
			margin-left: vw(5);
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;

				#{$this}__icon {
					fill: $color-accent-darker;
				}
			}
		}
	}

	&__icon {
		width: microbe-rem(15);
		height: microbe-rem(15);
		fill: $color-accent;
		margin-right: microbe-rem(15);
		transition: fill .2s ease;

		@include microbe-media($screen-vw) {
			width: vw(15);
			height: vw(15);
			margin-right: vw(15);
		}
	}

	&--footer {
		@include microbe-media($breakpoint-md) {
			margin-left: microbe-rem(25);
		}

		@include microbe-media($breakpoint-lg) {
			margin-left: microbe-rem(5);
		}

		@include microbe-media($screen-vw) {
			margin-left: vw(5);
		}
	}
}
