.menu {
	$this: &;

	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background-color: $color-bg-light-2;
	padding: microbe-rem(42) 0 microbe-rem(148);
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s ease;

	&.is-active {
		opacity: 1;
		pointer-events: all;
	}

	@include microbe-media($screen-vw) {
		padding: vw(42) 0 vw(148);
	}

	&__list {
		padding: 0;
		list-style-type: none;
		columns: 2;
		margin: 0 0 0 microbe-rem(-90);
		width: calc(100% + #{microbe-rem(90)});

		@include microbe-media($screen-vw) {
			margin: 0 0 0 vw(-90);
			width: calc(100% + #{vw(90)});
		}
	}

	&__item {
		padding-left: microbe-rem(135);

		@include microbe-media($screen-vw) {
			padding-left: vw(135);
		}
	}

	&__link {
		transition: color .2s ease;
		text-decoration: none;
		outline: none;
		font-size: microbe-rem(18);
		font-weight: $font-weight-medium;
		line-height: microbe-em(43, 18);
		color: $color-black;

		&.is-active {
			color: $color-accent;
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
		}
	}

	&--theme-categories {
		padding: microbe-rem(47) 0 microbe-rem(51);

		@include microbe-media($screen-vw) {
			padding: vw(47) 0 vw(51);
		}

		#{$this}__list {
			columns: initial;
			width: 100%;
			margin: 0;

			@include microbe-media($screen-vw) {
				width: 100%;
				margin: 0;
			}
		}

		#{$this}__item {
			padding-left: 0;
		}

		#{$this}__link {
			display: flex;
			align-items: safe center;
			font-size: microbe-rem(15);

			@include microbe-media($screen-vw) {
				font-size: vw(15);
			}
		}
	}

	&__link-icon {
		width: microbe-rem(35);
		height: microbe-rem(35);
		fill: $color-accent-darker;
		transition: fill .2s ease;
		margin-right: microbe-rem(13);
		flex-shrink: 0;

		@include microbe-media($screen-vw) {
			width: vw(35);
			height: vw(35);
			margin-right: vw(13);
		}
	}

	&__sublist {
		list-style-type: none;
		padding: microbe-rem(7) 0;
		margin: 0;

		@include microbe-media($screen-vw) {
			padding: vw(7) 0;
		}
	}

	&__subitem {
		margin-bottom: microbe-rem(5);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(5);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__sublink {
		font-size: microbe-rem(14);
		line-height: microbe-em(32);
		color: rgba($color-black, .7);
		transition: color .2s ease;
		text-decoration: none;

		&.is-active {
			color: $color-accent;
		}

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}

		@media(hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}
	}
}
