.mobile-menu {
	$this: &;

	height: calc(100% - 20px);
	position: relative;
	margin-bottom: 0 !important; // sass-lint:disable-line no-important
	padding-bottom: microbe-rem(150);

	@include microbe-media($screen-vw) {
		padding-bottom: vw(150);
	}

	&__buttons {
		width: microbe-rem(200);
		margin: 0 auto;
		padding: microbe-rem(20) 0;

		@include microbe-media($screen-vw) {
			width: vw(200);
			padding: vw(20) 0;
		}

		.button {
			width: 100%;
			margin: 0;

			&:not(:last-child) {
				margin-bottom: microbe-rem(20);

				@include microbe-media($screen-vw) {
					margin-bottom: vw(20);
				}
			}
		}

		&::after {
			content: none;
		}
	}
}
