.mobile-burger {
	width: microbe-rem(25);
	height: microbe-rem(25);
	display: flex;
	align-items: safe center;
	justify-content: center;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: none;

	&__icon {
		width: microbe-rem(25);
		height: microbe-rem(25);
		fill: $color-accent-darker;
	}
}
