.pagination {
	$this: &;

	display: flex;
	align-items: safe center;

	@include microbe-media($screen-vw) {
		padding-top: vw(6);
	}

	&__number {
		color: #161010;
		font-size: microbe-rem(14);
		line-height: microbe-em(44, 16);
		letter-spacing: .04em;
		font-weight: $font-weight-medium;
		position: relative;
		transition: color .2s ease;
		text-decoration: none;
		display: block;
		margin: 0 microbe-rem(15);

		@include microbe-media($screen-vw) {
			margin: 0 vw(21);
			font-size: vw(16);
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}

		&--current {
			pointer-events: none;
			position: relative;
			color: $color-white;

			span {
				position: relative;
				z-index: 2;
			}

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: microbe-rem(45);
				height: microbe-rem(45);
				border-radius: 50%;
				background-color: $color-accent;

				@include microbe-media($screen-vw) {
					width: vw(64);
					height: vw(64);
				}
			}
		}
	}

	&__arrow {
		text-decoration: none;
		color: $color-accent;
		width: microbe-rem(44);
		height: microbe-rem(44);
		border-radius: 50%;
		display: flex;
		align-items: safe center;
		justify-content: center;
		border: 1px solid currentColor;
		background-color: transparent;
		transition: color .2s ease, border-color .2s ease, background-color .2s ease;

		&.disabled {
			pointer-events: none;
			opacity: .35;
		}

		@include microbe-media($screen-vw) {
			height: vw(64);
			width: vw(64);
		}

		&--next {
			margin-left: microbe-rem(35);

			@include microbe-media($screen-vw) {
				margin-left: vw(35);
			}
		}

		&--prev {
			margin-right: microbe-rem(35);

			@include microbe-media($screen-vw) {
				margin-right: vw(35);
			}
		}

		@media (hover: hover) {
			&:hover {
				color: $color-white;
				border-color: $color-accent;
				background-color: $color-accent;
			}

			&:active {
				color: $color-white;
				border-color: $color-accent-darker;
				background-color: $color-accent-darker;
			}
		}

		svg {
			fill: currentColor;
			width: microbe-rem(10);
			height: microbe-rem(18);

			@include microbe-media($screen-vw) {
				width: vw(14);
				height: vw(25);
			}
		}
	}
}
