.payments {
	$this: &;

	display: grid;
	grid-gap: microbe-rem(20);
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-auto-rows: auto;
	transform: translateY(#{microbe-rem(-70)});
	margin-bottom: microbe-rem(-70);

	@include microbe-media($breakpoint-ms) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@include microbe-media($screen-vw) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-gap: vw(20);

		transform: translateY(#{vw(-150)});
		margin-bottom: vw(-150);
	}
}
