.payment {
	$this: &;

	display: flex;
	flex-direction: column;

	background-color: $color-white;
	border-radius: microbe-rem(10);
	padding: microbe-rem(20) microbe-rem(25);
	transition: box-shadow 400ms ease;

	@include microbe-media($screen-vw) {
		padding: vw(25) vw(25);
	}

	@include microbe-media($breakpoint-xl) {
		padding: vw(44) vw(35);
	}

	@media(hover:hover) {
		&:hover {
			box-shadow: 0 microbe-rem(4) microbe-rem(4) rgba($color-black, .15);
		}
	}

	&__text {
		padding-top: microbe-rem(16);
		min-height: microbe-rem(90);

		p {
			line-height: microbe-em(28, 16);

			&:not(:last-child) {
				margin: 0 0 microbe-rem(3) 0;
			}
		}

		@include microbe-media($screen-vw) {
			padding-top: vw(16);
			min-height: vw(90);

			p {
				&:not(:last-child) {
					margin: 0 0 vw(3) 0;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__text, .link {
		font-size: microbe-rem(14);

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}

		@include microbe-media($breakpoint-xl) {
			font-size: vw(16);
		}
	}

	&__img {
		height: microbe-rem(50);
		display: flex;
		justify-content: center;
		align-items: center;

		@include microbe-media($screen-vw) {
			height: vw(50);
		}

		img {
			object-fit: contain;
		}
	}

	&__buttons {
		margin-top: auto;
		margin-bottom: microbe-rem(50);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(50);
		}
	}

	&__button {
		display: flex;
		justify-content: center;

		&--button {
			margin-top: microbe-rem(54);

			@include microbe-media($screen-vw) {
				margin-top: vw(54);
			}
		}

		&--link {
			margin-top: microbe-rem(30);

			@include microbe-media($screen-vw) {
				margin-top: vw(30);
			}
		}
	}
}
