.person-card {
	$this: &;

	display: flex;
	flex-direction: column;
	background-color: $color-white;
	padding: microbe-rem(60) microbe-rem(41) microbe-rem(56);
	border-radius: microbe-rem(10);
	text-align: center;

	@include microbe-media($screen-vw) {
		padding: vw(60) vw(41) vw(56);
		border-radius: vw(10);
	}

	&__img {
		width: microbe-rem(120);
		height: microbe-rem(120);
		position: relative;
		margin: 0 auto microbe-rem(38);

		@include microbe-media($screen-vw) {
			width: vw(189);
			height: vw(189);
			margin: 0 auto vw(38);
		}

		&::before {
			content: '';
			position: absolute;
			transform-origin: center;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1.1);
			width: 100%;
			height: 100%;
			background-color: transparent;
			border: 1px solid $color-accent;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__separator {
		width: microbe-rem(64);
		height: 1px;
		background-color: rgba($color-black, 0.1);
		margin: microbe-rem(20) auto microbe-rem(13);

		@include microbe-media($screen-vw) {
			width: vw(64);
			margin: vw(20) auto vw(13);
		}
	}

	&__text {
		color: $color-black;
		font-size: microbe-rem(16);
		line-height: microbe-em(30, 16);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}

		&--name {
			font-weight: $font-weight-bold;
			margin-bottom: microbe-rem(4);
			height: calc(#{microbe-em(30, 16)} * 2);
			overflow: hidden;

			@include microbe-media($screen-vw) {
				margin-bottom: vw(4);
			}
		}

		&--experience {
			height: calc(#{microbe-em(30, 16)} * 3);
			overflow: hidden;
		}

		&--position {
			color: rgba($color-black, 0.6);
			line-height: microbe-em(19, 16);
			height: calc(#{microbe-em(19, 16)} * 2);
			overflow: hidden;
		}

		&--education {
			margin-bottom: microbe-rem(10);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(10);
			}
		}

		&--work {
			margin-bottom: microbe-rem(10);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(10);
			}
		}
	}

	&__main-content {
		margin-bottom: microbe-rem(10);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(10);
		}
	}

	&__accordion {
		margin-top: auto;
	}

	&__accordion-content {
		margin-top: microbe-rem(20);

		@include microbe-media($screen-vw) {
			margin-top: vw(30);
		}
	}
}
