.questions {
	$this: &;

	&__title {
		text-align: center;
		line-height: microbe-em(23, 16);
		color: rgba($color-black, .6);
		font-size: microbe-rem(16);

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			padding: 0 vw(35);
		}
	}

	&__link {
		margin-top: microbe-rem(19);
		font-size: microbe-rem(26);
		line-height: microbe-em(31, 26);
		font-weight: $font-weight-medium;
		text-decoration: none;
		color: $color-accent-darker;
		transition: color .2s ease;

		@media(hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-black;
			}
		}

		@include microbe-media($screen-vw) {
			margin-top: vw(19);
			font-size: vw(26);
		}
	}

	&__button {
		max-width: microbe-rem(450);
		width: 100%;
		margin-top: microbe-rem(25);

		@include microbe-media($screen-vw) {
			margin-top: vw(30);
			max-width: vw(573);
		}

		.button {
			width: 100%;
		}
	}
}
