.reports-block {
	$this: &;

	height: 100%;
	display: flex;
	justify-content: center;

	.popup {
		&--theme-consultation {
			@include microbe-media($screen-vw) {
				padding: vw(66) vw(170.5) vw(73);
			}
		}
	}
}
