.reports-banner {
	$this: &;

	max-width: microbe-rem(640);
	padding: microbe-rem(25) microbe-rem(20) microbe-rem(30);
	background-color: $color-bg-grey;
	border-radius: microbe-rem(5);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: safe center;
	justify-content: space-between;

	@include microbe-media($breakpoint-ms) {
		padding: microbe-rem(40) microbe-rem(80) microbe-rem(50);
	}

	@include microbe-media($screen-vw) {
		max-width: vw(750);
		border-radius: vw(5);
		padding: vw(66) vw(105) vw(73);
	}

	&__title {
		font-size: microbe-rem(28);
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		color: $color-black;
		padding-bottom: microbe-rem(10);
		text-align: center;

		@include microbe-media($breakpoint-ms) {
			font-size: microbe-rem(36);
			padding-bottom: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			padding-bottom: vw(20);
			font-size: vw(48);
		}
	}

	&__description {
		font-size: microbe-rem(14);
		line-height: microbe-em(30, 20);
		color: $color-black;
		text-align: center;
		padding-bottom: microbe-rem(20);

		@include microbe-media($breakpoint-ms) {
			font-size: microbe-rem(18);
			padding-bottom: microbe-rem(25);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			padding-bottom: vw(37);
		}
	}

	&__text {
		font-size: microbe-rem(14);
		line-height: microbe-em(30, 16);
		color: rgba($color-black, 0.6);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: safe center;
		padding-top: microbe-rem(20);
		padding-bottom: microbe-rem(40);

		@include microbe-media($screen-vw) {
			padding-top: vw(20);
			padding-bottom: vw(40);
		}
	}

	&__link {
		font-size: microbe-rem(14);
		line-height: microbe-em(21, 18);
		color: $color-accent-darker;
		text-decoration: none;
		position: relative;
		transition: color .2s ease;
		text-align: center;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(16);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-text-4;
			}
		}

		&:not(:last-child) {
			margin-bottom: microbe-rem(43);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(43);
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			border-bottom: 1px dashed currentColor;
			top: calc(100% + #{microbe-rem(8)});

			@include microbe-media($screen-vw) {
				top: calc(100% + #{vw(8)});
			}
		}
	}

	&--theme-about {
		display: block;
		max-width: 100%;
		padding: microbe-rem(20);

		@include microbe-media($screen-vw) {
			max-width: 100%;
			padding: vw(90) vw(95) vw(104) vw(124);
		}

		#{$this}__title,
		#{$this}__description {
			text-align: left;
		}

		#{$this}__title {
			@include microbe-media($screen-vw) {
				padding-bottom: vw(30);
			}
		}

		#{$this}__subscription {
			@include microbe-media($screen-vw) {
				padding-bottom: vw(20);
			}
		}

		#{$this}__icon {
			color: $color-accent;
			margin-bottom: microbe-rem(30);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(40);
			}

			svg {
				fill: currentColor;
			}
		}
	}

	&--theme-green {
		background-color: $color-bg-light;
	}
}
