@import '../objects/animations';

.search-block {
	$this: &;

	color: inherit;
	transition: color .2s ease;
	position: relative;

	&__icon {
		cursor: pointer;
		width: microbe-rem(27);
		height: microbe-rem(27);
		stroke-dasharray: microbe-rem(85);

		@include microbe-media($screen-vw) {
			width: vw(27);
			height: vw(27);
			stroke-dasharray: vw(85);
		}
	}

	&__icon-circle {
		stroke: currentColor;

		.is-in-focus & {
			animation: search-svg-mobile .3s ease forwards;

			@include microbe-media($screen-vw) {
				animation: search-svg .3s ease forwards;
			}
		}

		.not-in-focus & {
			animation: search-svg-forward-mobile .3s ease forwards;

			@include microbe-media($screen-vw) {
				animation: search-svg-forward .3s ease forwards;
			}
		}
	}

	&__icon-line {
		stroke: currentColor;

		.is-in-focus & {
			animation: search-svg-mobile .3s ease forwards .2s;

			@include microbe-media($screen-vw) {
				animation: search-svg .3s ease forwards .2s;
			}
		}

		.not-in-focus & {
			animation: search-svg-forward-mobile .3s ease forwards .2s;

			@include microbe-media($screen-vw) {
				animation: search-svg-forward .3s ease forwards .2s;
			}
		}
	}

	&__input {
		color: inherit;
		position: absolute;
		-webkit-appearance: none;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: microbe-rem(27);
		line-height: 100%;
		font-size: microbe-rem(16);
		width: 0;
		transition: width .2s ease;
		background-color: transparent;
		padding: 0;
		margin-left: microbe-rem(27);
		caret-color: $color-accent;
		box-sizing: border-box;
		border: {
			left: none;
			right: none;
			top: none;
			bottom: 1px solid $color-accent;
		};
		outline: none;

		&:focus {
			width: microbe-rem(200);

			@include microbe-media($screen-vw) {
				width: vw(200);
			}
		}

		@include microbe-media($screen-vw) {
			height: vw(27);
			font-size: vw(16);
			margin-left: vw(27);
		}
	}

	&--theme-mobile {
		width: 100%;

		label {
			display: flex;
			align-items: safe flex-end;
			padding: 0 20px;
		}

		#{$this}__input {
			position: initial;
			color: $color-text-4;
			width: 100%;
			height: 50px;
			transform: none;
			padding-right: 40px;
			margin-left: 0 !important; // sass-lint:disable-line no-important
		}

		#{$this}__button {
			display: flex;
			align-items: safe center;
			justify-content: center;
			padding: 0;
			background-color: transparent;
			outline: none;
			cursor: pointer;
			border: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;

			#{$this}__icon-circle,
			#{$this}__icon-line {
				stroke: $color-accent-darker;
				animation: none !important; // sass-lint:disable-line no-important
			}
		}
	}
}
