.section {
	$this: &;

	overflow: hidden;

	&--bg-grey {
		background-color: $color-bg-grey;
	}

	&--bg-lighter {
		background-color: rgba($color-bg-lighter, .3);
	}

	&--services {
		background-color: $color-bg-grey;
		padding: microbe-rem(80) 0 microbe-rem(66);

		@include microbe-media($screen-vw) {
			padding: vw(80) 0 vw(66);
		}
	}

	&--wysiwyg {
		background: $color-bg-grey;
	}

	&--benefits {
		background-color: $color-accent-darker;
		background-repeat: no-repeat;
		background-position: center bottom;
		padding: microbe-rem(50) 0;
		background-size: 150% auto;

		@include microbe-media($breakpoint-md) {
			background-size: 100% auto;
		}

		@include microbe-media($screen-vw) {
			padding: vw(118) 0 vw(121);
		}
	}

	&--text-page {
		padding: microbe-rem(100) 0;

		@include microbe-media($screen-vw) {
			padding: vw(150) 0;
		}
	}

	&--home-reports {
		padding: microbe-rem(84) 0 microbe-rem(92);

		@include microbe-media($screen-vw) {
			padding: vw(84) 0 vw(92);
		}
	}

	&--branches {
		background-color: $color-bg-dark-green;
		padding: microbe-rem(40) 0;
		overflow: initial;
		position: relative;
		z-index: 2;

		@include microbe-media($screen-vw) {
			padding: vw(70) 0 vw(75);
		}
	}

	&--quality-control {
		background-color: rgba($color-bg-lighter, .3);
		padding: microbe-rem(60) 0 microbe-rem(59);

		@include microbe-media($screen-vw) {
			padding: vw(60) 0 vw(59);
		}
	}

	&--description {
		background-color: $color-bg-grey;
		padding: microbe-rem(74) 0 microbe-rem(40);

		max-height: 500px;
		overflow: auto;

		@include microbe-media($breakpoint-df) {
			padding: microbe-rem(74) 0 microbe-rem(80);
		}

		@include microbe-media($screen-vw) {
			padding: vw(74) 0 vw(80);
		}
	}

	&--programs {
		background-color: $color-white;
		padding: microbe-rem(45) 0;

		@include microbe-media($screen-vw) {
			padding: vw(65) 0 vw(6);
		}
	}

	&--counter {
		padding: microbe-rem(35) 0 microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding: vw(60) 0 vw(44);
		}
	}

	&--questions {
		padding: microbe-rem(70) 0 microbe-rem(143);
		background-color: $color-white;
		position: relative;
		overflow: initial;
		z-index: 2;

		@include microbe-media($screen-vw) {
			padding: vw(70) 0 vw(143);
		}

		#{$this}__decor {
			cursor: pointer;
			width: microbe-rem(80);
			height: microbe-rem(80);
			border-radius: 50%;
			display: flex;
			align-items: safe center;
			justify-content: center;
			position: absolute;
			font-size: microbe-rem(14);
			line-height: 1.4em;
			letter-spacing: 0.04em;
			font-weight: $font-weight-medium;
			border: 1px solid #42505D;
			color: $color-black;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 40%);
			transition: border-color .2s ease, color .2s ease;

			@media (hover: hover) {
				&:hover {
					border-color: $color-accent;
					color: $color-accent;

					svg {
						transform: translate(-50%, 0);
					}
				}

				&:active {
					border-color: $color-accent-darker;
					color: $color-accent-darker;

					svg {
						transform: translate(-50%, 0);
					}
				}
			}

			span {
				padding-bottom: microbe-rem(5);

				@include microbe-media($screen-vw) {
					padding-bottom: vw(5);
				}
			}

			svg {
				position: absolute;
				fill: currentColor;
				width: microbe-rem(8);
				height: microbe-rem(35);
				left: 50%;
				top: 100%;
				transform: translate(-50%, -45%);
				transition: transform .2s ease;

				@include microbe-media($screen-vw) {
					width: vw(8);
					height: vw(48);
				}
			}

			@include microbe-media($screen-vw) {
				width: vw(109);
				height: vw(109);
				font-size: vw(16);
			}
		}

		&-service {
			padding: microbe-rem(40) 0 microbe-rem(80);

			@include microbe-media($screen-vw) {
				padding: microbe-rem(56) 0 vw(135);
			}
		}
	}

	&--consultation {
		background-color: rgba($color-bg-lighter, .3);
		padding: microbe-rem(100) 0 microbe-rem(85);

		@include microbe-media($screen-vw) {
			padding: vw(110) 0 vw(85);
		}
	}

	&--blog {
		background-color: $color-bg-grey;
		padding: microbe-rem(74) 0 microbe-rem(71);

		@include microbe-media($screen-vw) {
			padding: vw(74) 0 vw(71);
		}
	}

	&--blog-inner {
		padding: microbe-rem(30) 0 microbe-rem(40);

		@include microbe-media($screen-vw) {
			padding: vw(48) 0 vw(81);
		}

		.news-nav {
			margin-top: microbe-rem(32);

			@include microbe-media($screen-vw) {
				margin-top: vw(63);
			}
		}
	}

	&--might-be-interesting {
		padding: microbe-rem(30) 0 microbe-rem(40);

		@include microbe-media($screen-vw) {
			padding: vw(67) 0 vw(77);
		}

		.title {
			font-weight: $font-weight-regular;
		}
	}

	&--blog-widget {
		padding: microbe-rem(15) 0 microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding: vw(15) 0 vw(50);
		}
	}

	&--services-list {
		position: relative;
		padding-bottom: microbe-rem(60);
		overflow: visible;

		&:not(.no-items) {
			margin-top: microbe-rem(-154);

			@include microbe-media($screen-vw) {
				margin-top: vw(-154);
			}
		}

		@include microbe-media($screen-vw) {
			padding-bottom: vw(90);
		}

		&::before {
			z-index: -1;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $color-bg-grey;
		}
	}

	&--risks {
		margin-top: microbe-rem(63);

		@include microbe-media($screen-vw) {
			margin-top: vw(63);
		}
	}

	&--buy {
		padding: microbe-rem(40) 0 microbe-rem(60);

		@include microbe-media($screen-vw) {
			padding: vw(60) 0 vw(102);
		}
	}

	&--about-service {
		background-color: $color-bg-grey;
		padding: microbe-rem(35) 0 microbe-rem(50);
		margin-bottom: microbe-rem(40);

		@include microbe-media($screen-vw) {
			padding: vw(58) 0 vw(86);
			margin-bottom: vw(82);
		}
	}

	&--documents {
		padding: microbe-rem(40) 0 microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding: vw(80) 0 vw(45);
		}
	}

	&--steps {
		background-color: rgba($color-bg-lighter, .3);
		padding: microbe-rem(45) 0 microbe-rem(50);

		@include microbe-media($screen-vw) {
			padding: vw(86) 0 vw(97);
		}
	}

	&--provided-services {
		padding: microbe-rem(40) 0 microbe-rem(26);

		@include microbe-media($screen-vw) {
			padding: vw(87) 0 vw(26);
		}
	}

	&--related-services {
		padding: microbe-rem(50) 0 microbe-rem(80);
		background-color: $color-bg-grey;

		@include microbe-media($screen-vw) {
			padding: vw(67) 0 vw(127);
		}
	}

	&--recommended-services {
		padding: microbe-rem(60) 0 microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding: vw(60) 0 vw(30);
		}
	}

	&--faq {
		padding: microbe-rem(35) 0 microbe-rem(100);
		z-index: 2;
		position: relative;
		overflow: initial;

		@include microbe-media($screen-vw) {
			padding: vw(35) 0 vw(142);
		}

		#{$this}__decor {
			cursor: pointer;
			width: microbe-rem(80);
			height: microbe-rem(80);
			border-radius: 50%;
			display: flex;
			align-items: safe center;
			justify-content: center;
			position: absolute;
			font-size: microbe-rem(14);
			line-height: 1.4em;
			letter-spacing: 0.04em;
			font-weight: $font-weight-medium;
			border: 1px solid #42505D;
			color: $color-black;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 40%);
			transition: border-color .2s ease, color .2s ease;

			@media (hover: hover) {
				&:hover {
					border-color: $color-accent;
					color: $color-accent;

					svg {
						transform: translate(-50%, 0);
					}
				}

				&:active {
					border-color: $color-accent-darker;
					color: $color-accent-darker;

					svg {
						transform: translate(-50%, 0);
					}
				}
			}

			span {
				padding-bottom: microbe-rem(5);

				@include microbe-media($screen-vw) {
					padding-bottom: vw(5);
				}
			}

			svg {
				position: absolute;
				fill: currentColor;
				width: microbe-rem(8);
				height: microbe-rem(35);
				left: 50%;
				top: 100%;
				transform: translate(-50%, -45%);
				transition: transform .2s ease;

				@include microbe-media($screen-vw) {
					width: vw(8);
					height: vw(48);
				}
			}

			@include microbe-media($screen-vw) {
				width: vw(109);
				height: vw(109);
				font-size: vw(16);
			}
		}
	}

	&--reports {
		padding: microbe-rem(30) 0 microbe-rem(50);

		@include microbe-media($screen-vw) {
			padding: vw(48) 0 vw(97);
		}
	}

	&--payment {
		padding-bottom: microbe-rem(90);
		overflow: visible;

		@include microbe-media($screen-vw) {
			padding-bottom: vw(90);
		}
	}

	&--search-results {
		background-color: $color-bg-grey;
		padding: microbe-rem(100) 0 microbe-rem(60);

		@include microbe-media($screen-vw) {
			padding: vw(160) 0 vw(95);
		}
	}

	&--sitemap {
		background-color: $color-bg-grey;
		padding: microbe-rem(100) 0 microbe-rem(60);
		height: 100%;

		@include microbe-media($screen-vw) {
			padding: vw(160) 0 vw(95);
		}
	}

	&--brand {
		padding: microbe-rem(30) 0 microbe-rem(40);

		@include microbe-media($screen-vw) {
			padding: vw(57) 0 vw(105);
		}
	}

	&--history {
		padding: microbe-rem(40) 0 microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding: vw(83) 0 vw(69);
		}
	}

	&--our-goals {
		padding: microbe-rem(30) 0 0;

		@include microbe-media($screen-vw) {
			padding: vw(69) 0 0;
		}
	}

	&--why {
		padding: microbe-rem(30) 0 microbe-rem(30);

		@include microbe-media($screen-vw) {
			padding: vw(73) 0 vw(45);
		}
	}

	&--our-awards {
		padding: 0 0 microbe-rem(50);

		@include microbe-media($screen-vw) {
			padding: 0 0 vw(75);
		}
	}

	&--our-team {
		padding: microbe-rem(35) 0 microbe-rem(40);

		@include microbe-media($screen-vw) {
			padding: vw(84) 0 vw(96);
		}
	}

	&--information {
		padding: microbe-rem(35) 0 microbe-rem(50);

		@include microbe-media($screen-vw) {
			padding: vw(47) 0 vw(84);
		}
	}
}
