.service-card {
	$this: &;

	&__title {
		font-size: microbe-rem(18);
		line-height: 1.4em;
		color: $color-black;
		font-weight: $font-weight-medium;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(22);
		}
	}

	&--theme-main-service {
		padding: microbe-rem(40) microbe-rem(25) microbe-rem(62) microbe-rem(30);
		background-color: $color-white;
		border-radius: microbe-rem(10);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		&.is-active {
			max-height: none;
			position: relative;
			z-index: 5;
			height: initial;
		}

		@include microbe-media($screen-vw) {
			padding: vw(40) vw(25) vw(62) vw(30);
			border-radius: vw(10);
			max-height: vw(475);
		}

		#{$this}__top {
			display: flex;
			align-items: safe center;
			margin-bottom: microbe-rem(18);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(18);
			}
		}

		#{$this}__icon {
			border-radius: 50%;
			flex-shrink: 0;
			background-color: $color-bg-grey;
			height: microbe-rem(64);
			width: microbe-rem(64);
			display: flex;
			align-items: safe center;
			justify-content: center;
			margin-right: microbe-rem(20);
			align-self: flex-start;

			@include microbe-media($screen-vw) {
				height: vw(84);
				width: vw(84);
				margin-right: vw(20);
			}

			svg {
				height: microbe-rem(34);
				width: microbe-rem(34);
				fill: $color-accent-darker;

				@include microbe-media($screen-vw) {
					height: vw(42);
					width: vw(42);
				}
			}
		}

		#{$this}__content-wrapper {
			position: relative;
			transition: max-height .3s ease;
			overflow: hidden;
			max-height: microbe-rem(156);
			margin-bottom: microbe-rem(20);
			margin-top: microbe-rem(2);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(20);
				max-height: vw(156);
				margin-top: vw(2);
			}

			&.is-active {
				margin-bottom: microbe-rem(16);

				@include microbe-media($screen-vw) {
					margin-bottom: vw(16);
				}
			}

			&:not(.is-active) {
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					box-shadow: 0 0 2vh 4vh $color-white;
					z-index: 1;
				}
			}
		}

		#{$this}__main {
			margin-bottom: microbe-rem(45);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(29);
			}
		}

		#{$this}__show-more {
			background-color: transparent;
			padding: 0;
			border: none;
			outline: none;
			cursor: pointer;
			font-size: microbe-rem(15);
			line-height: microbe-em(18, 15);
			color: $color-accent-darker;
			transition: color .2s ease;
			position: relative;

			@media (hover: hover) {
				&:hover {
					color: $color-accent;
				}

				&:active {
					color: $color-black;
				}
			}

			@include microbe-media($screen-vw) {
				font-size: vw(15);
			}

			&::before {
				content: '';
				position: absolute;
				top: calc(100% + #{microbe-rem(9)});
				border-bottom: 1px dashed currentColor;
				left: 0;
				width: 100%;

				@include microbe-media($screen-vw) {
					top: calc(100% + #{vw(9)});
				}
			}

			&.is-active {
				#{$this}__text {
					&--more {
						display: none;
					}

					&--less {
						display: initial;
					}
				}
			}

			#{$this}__text {
				&--more {
					display: initial;
				}

				&--less {
					display: none;
				}
			}
		}

		.button {
			padding: microbe-rem(15) microbe-rem(22);
			min-width: microbe-rem(198);

			@include microbe-media($screen-vw) {
				padding: vw(14) vw(22);
				min-width: vw(198);
			}
		}
	}

	&--theme-additional {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: microbe-rem(10);
		height: 100%;
		background-color: $color-bg-grey;
		padding: microbe-rem(30) microbe-rem(20) microbe-rem(35);

		@include microbe-media($screen-vw) {
			border-radius: vw(10);
			padding: vw(40) vw(30) vw(55);
		}

		#{$this}__top {
			display: flex;
			align-items: safe center;
			margin-bottom: microbe-rem(15);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(20);
			}
		}

		#{$this}__icon {
			width: microbe-rem(84);
			height: microbe-rem(84);
			background-color: $color-white;
			border-radius: 50%;
			display: flex;
			align-items: safe center;
			justify-content: center;
			flex-shrink: 0;
			margin-right: microbe-rem(16);

			@include microbe-media($screen-vw) {
				width: vw(84);
				height: vw(84);
				margin-right: vw(16);
			}

			svg {
				fill: $color-accent-darker;
				width: microbe-rem(45);
				height: microbe-rem(36);

				@include microbe-media($screen-vw) {
					width: vw(45);
					height: vw(36);
				}
			}
		}

		#{$this}__text {
			font-size: microbe-rem(13);
			line-height: 1.75em;
			color: rgba($color-black, .6);

			@include microbe-media($screen-vw) {
				font-size: vw(15);
			}
		}

		.button {
			padding: microbe-rem(15) microbe-rem(22);
			min-width: microbe-rem(160);
			margin-top: microbe-rem(18);

			@include microbe-media($screen-vw) {
				padding: vw(14) vw(22);
				min-width: vw(160);
				margin-top: vw(18);
			}
		}
	}

	&--theme-related {
		border-radius: microbe-rem(10);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		background-color: $color-white;
		padding: microbe-rem(30) microbe-rem(20) microbe-rem(35);

		@include microbe-media($screen-vw) {
			border-radius: vw(10);
			padding: vw(40) vw(20) vw(55) vw(40);
		}

		#{$this}__top {
			display: flex;
			align-items: safe center;
			margin-bottom: microbe-rem(15);

			@include microbe-media($screen-vw) {
				margin-bottom: vw(20);
			}
		}

		#{$this}__icon {
			width: microbe-rem(84);
			height: microbe-rem(84);
			background-color: $color-bg-grey;
			border-radius: 50%;
			display: flex;
			align-items: safe center;
			justify-content: center;
			flex-shrink: 0;
			margin-right: microbe-rem(16);

			@include microbe-media($screen-vw) {
				width: vw(84);
				height: vw(84);
				margin-right: vw(16);
			}

			svg {
				fill: $color-accent-darker;
				width: microbe-rem(45);
				height: microbe-rem(36);

				@include microbe-media($screen-vw) {
					width: vw(45);
					height: vw(36);
				}
			}
		}

		#{$this}__text {
			font-size: microbe-rem(13);
			line-height: 1.75em;
			color: rgba($color-black, .6);

			@include microbe-media($screen-vw) {
				font-size: vw(15);
			}
		}
	}

	.button {
		padding: microbe-rem(15) microbe-rem(22);
		min-width: microbe-rem(160);
		margin-top: microbe-rem(18);

		@include microbe-media($screen-vw) {
			padding: vw(14) vw(22);
			min-width: vw(160);
			margin-top: vw(18);
		}
	}

	&--theme-recommended {
		@include microbe-media($screen-vw) {
			padding: vw(40) vw(40) vw(55);
		}

		#{$this}__text {
			margin: microbe-rem(20) 0;

			@include microbe-media($screen-vw) {
				margin: vw(38) 0;
			}
		}
	}
}

.service-card-wrapper {
	@include microbe-media($screen-vw) {
		max-height: vw(475);
	}
}
