.steps {
	$this: &;

	&__title {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);
		text-align: center;
		color: $color-black;
		max-width: microbe-rem(775);
		margin: 0 auto microbe-rem(20);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
			margin: 0 auto vw(32);
			max-width: vw(775);
		}
	}

	&__content {
		padding-top: microbe-rem(20);

		@include microbe-media($screen-vw) {
			padding-top: vw(32);
		}
	}
}

.step {
	$this: &;

	flex-shrink: 0;
	width: 100%;
	margin-bottom: microbe-rem(35);

	@include microbe-media($breakpoint-df) {
		margin-bottom: 0;
		width: initial;
		margin-right: microbe-rem(50);
	}

	&:last-child {
		margin-right: 0;
	}

	@include microbe-media($screen-vw, max) {
		display: flex;
		flex-direction: column;
		align-items: safe center;
	}

	@include microbe-media($screen-vw) {
		width: vw(330);
		margin-right: vw(50);

		&:last-child {
			margin-right: vw(50);
		}
	}

	&__icon {
		width: microbe-rem(80);
		height: microbe-rem(80);
		background-color: $color-white;
		border-radius: 50%;
		display: flex;
		align-items: safe center;
		justify-content: center;
		position: relative;

		svg {
			width: microbe-rem(40);
			height: microbe-rem(40);
			fill: $color-accent-darker;

			@include microbe-media($screen-vw) {
				width: vw(45);
				height: vw(45);
			}
		}

		@include microbe-media($screen-vw) {
			width: vw(100);
			height: vw(100);
		}
	}

	&__count {
		font-size: microbe-rem(24);
		line-height: 1;
		color: $color-accent;
		position: absolute;
		bottom: microbe-rem(-2);
		left: calc(100% - #{microbe-rem(30)});

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(36);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
			bottom: vw(-2);
			left: calc(100% - #{vw(30)});
		}
	}

	&__title {
		margin-top: microbe-rem(15);
		color: #202020;
		font-size: microbe-rem(16);
		line-height: 1.6em;
		font-weight: $font-weight-bold;
		margin-bottom: microbe-rem(10);
		text-align: center;

		@include microbe-media($screen-vw) {
			margin-top: vw(23);
			font-size: vw(18);
			margin-bottom: vw(10);
			text-align: left;
		}
	}

	&__text {
		font-size: microbe-rem(14);
		line-height: microbe-em(22, 14);
		color: rgba($color-black, .7);
		max-width: microbe-rem(237);
		text-align: center;

		@include microbe-media($screen-vw) {
			font-size: vw(14);
			max-width: vw(237);
			text-align: left;
		}
	}

	&__icon-wrapper {
		position: relative;

		@include microbe-media($screen-vw) {
			width: 100%;
		}
	}

	&--separated {
		#{$this}__icon-wrapper {
			&::before {
				content: '';
				position: absolute;
				top: calc(50% + #{microbe-rem(7)});
				transform: translateY(-50%);
				left: 50%;
				right: 0;
				border-bottom: 1px dashed rgba($color-text-4, .2);

				@include microbe-media($screen-vw) {
					top: calc(50% + #{vw(7)});
				}
			}
		}
	}
}
