.tag {
	$this: &;

	pointer-events: all;
	display: inline-flex;
	line-height: microbe-em(40, 14);
	font-size: microbe-rem(12);
	padding: 0 microbe-rem(16.5);
	border-radius: microbe-rem(70);
	color: #F7F9F9;
	text-decoration: none;
	transition: background-color .2s ease, color .2s ease;
	background-color: rgba($color-accent, .6);
	margin: 0 microbe-rem(8) microbe-rem(8) 0;

	@include microbe-media($screen-vw) {
		font-size: vw(14);
		padding: 0 vw(16.5);
		border-radius: vw(70);
		margin: 0 vw(11) vw(11) 0;
	}

	@media (hover: hover) {
		&:hover {
			background-color: $color-accent;
			color: $color-white;
		}

		&:active {
			background-color: $color-accent-darker;
			color: $color-white;
		}
	}
}
