.text-block {
	$this: &;

	&__text {
		font-size: microbe-rem(14);
		line-height: 1.9em;
		color: rgba($color-black, .6);
		max-width: microbe-rem(645);
		margin: 0 auto;

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			max-width: 100%;
			margin: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color-black;
			font-weight: $font-weight-medium;

			&:first-child {
				margin-top: 0;
			}
		}

		h2 {
			font-size: microbe-rem(36);
			line-height: microbe-em(54, 48);
			margin: microbe-rem(8) 0;

			@include microbe-media($screen-vw) {
				font-size: vw(48);
				margin: vw(10) 0;
			}
		}

		h3 {
			font-size: microbe-rem(20);
			line-height: 1.4em;
			margin: microbe-rem(8) 0;

			@include microbe-media($screen-vw) {
				font-size: vw(20);
				margin: vw(10) 0;
			}

			& + p {
				margin-top: microbe-rem(18);

				@include microbe-media($screen-vw) {
					margin-top: vw(23);
				}
			}
		}

		p {
			margin: microbe-rem(20) 0;

			@include microbe-media($screen-vw) {
				margin: vw(30) 0;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__image {
		padding: microbe-rem(77) 0 0;
		float: right;

		@include microbe-media($screen-vw) {
			padding: vw(77) 0 0 vw(70);
		}
	}

	&--inner {
		margin-top: microbe-rem(40);

		@include microbe-media($screen-vw) {
			margin-top: vw(61);
		}

		#{$this}__image {
			@include microbe-media($screen-vw) {
				padding: vw(88) 0 0;
			}
		}
	}
}
