.title {
	$this: &;
	color: $color-black;
	font-weight: $font-weight-bold;

	&--color-white {
		color: $color-white;
	}

	&--weight-regular {
		font-weight: $font-weight-regular;
	}

	&--size-xxl {
		line-height: microbe-em(119, 100);
		font-size: microbe-rem(100);

		@include microbe-media($screen-vw) {
			font-size: vw(100);
		}
	}

	&--size-h1 {
		line-height: microbe-em(104, 88);
		font-size: microbe-rem(36);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(64);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(88);
		}
	}

	&--size-h2 {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}
	}

	&--size-h3 {
		line-height: microbe-em(44, 36);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);

		@include microbe-media($screen-vw) {
			font-size: vw(36);
		}
	}

	&--size-h4 {
		line-height: microbe-em(26, 22);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(22);

		@include microbe-media($screen-vw) {
			font-size: vw(22);
		}
	}

	&--size-h5 {
		font-size: microbe-rem(20);
		line-height: microbe-em(30, 22);

		@include microbe-media($screen-vw) {
			font-size: vw(20);
		}
	}
}
