.why-item {
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin: microbe-rem(20) 0;

	@include microbe-media($screen-vw) {
		margin: vw(30) 0;
	}

	@media(max-width: $breakpoint-df) {
		width: 48%;
		padding: microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding: vw(10);
		}
	}

	&__numb {
		font-size: microbe-rem(42);
		color: $color-black;
		font-weight: 400;
		position: relative;
		margin-bottom: microbe-rem(20);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(27);
			font-size: vw(48);
		}

		span {
			position: relative;
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			top: microbe-rem(-12);
			left: microbe-rem(-3);
			width: microbe-rem(32);
			height: microbe-rem(32);
			background-color: $color-accent;
			border-radius: 50px;

			@include microbe-media($screen-vw) {
				top: vw(-12);
				left: vw(-3);
				width: vw(32);
				height: vw(32);
			}
		}
	}

	&__text {
		font-size: microbe-rem(14);
		color: $color-black;
		text-align: center;

		p {
			margin: microbe-rem(3) 0;

			@include microbe-media($screen-vw) {
				margin: vw(4) 0;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}

		span {
			display: block;
			font-weight: 700;
		}
	}
}
