@import 'settings/all-settings';
@import 'tools/all-tools';

body {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	margin: 0;
	min-width: 320px;
	max-width: 100%;
	background: $color-white;
	position: relative;
}
