@import 'settings/all-settings';
@import 'tools/all-tools';

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;

	&.lozad {
		opacity: 0;
		transition: opacity .2s ease-out;

		&[data-loaded="true"] {
			opacity: 1;
		}
	}
}
