@import 'webpack';
@import 'breakpoints';
@import 'modules';

// -----------------------------------------------------------------------------
// Legacy
// -----------------------------------------------------------------------------

$microbe-ie-fallback: $ENV == 'legacy';

// -----------------------------------------------------------------------------
// Имена CSS переменных
// -----------------------------------------------------------------------------

$microbe-module-cell-width-custom-property-name: --m-mcw;
$microbe-spacer-size-custom-property-name: --m-ss;
$microbe-owl-size-custom-property-name: --m-os;

// -----------------------------------------------------------------------------
// Размерные модули отступов
// Для игнора используйете значение NULL
// -----------------------------------------------------------------------------

$microbe-space-xxs: $module-xxs;
$microbe-space-xs: $module-xs;
$microbe-space-sm: $module-sm;
$microbe-space-ms: $module-ms;
$microbe-space-md: $module-md;
$microbe-space-df: $module-df;
$microbe-space-lg: $module-lg;
$microbe-space-xl: $module-xl;
$microbe-space-xxl: $module-xxl;
$microbe-space-hg: $module-hg;

// -----------------------------------------------------------------------------
// Брейкпоинты
// Для игнора используйете значение NULL
// -----------------------------------------------------------------------------

$microbe-breakpoint-xxs: $breakpoint-xxs;
$microbe-breakpoint-xs: $breakpoint-xs;
$microbe-breakpoint-sm: $breakpoint-sm;
$microbe-breakpoint-md: $breakpoint-md;
$microbe-breakpoint-df: $breakpoint-df;
$microbe-breakpoint-lg: $breakpoint-lg;
$microbe-breakpoint-xl: $breakpoint-xl;
$microbe-breakpoint-xxl: $breakpoint-xxl;
$microbe-breakpoint-hd: $breakpoint-hd;

@import '~microbe-ui/src/core/defaults';
