@import '~microbe-ui/src/core/functions/rem';

// Gutters
$module--none: 0 !default;
$module-xxs: microbe-rem(2);
$module-xs: microbe-rem(10);
$module-sm: microbe-rem(15);
$module-ms: microbe-rem(20);
$module-md: microbe-rem(25);
$module-df: microbe-rem(30);
$module-lg: microbe-rem(35);
$module-xl: microbe-rem(40);
$module-xxl: microbe-rem(55);
$module-hg: microbe-rem(60);
